##### imports

In [3]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [19]:
data = yf.download('^GSPC', start='2010-01-01', end='2025-01-01')

data = data.reset_index()

data['Date'] = pd.to_datetime(data['Date'])

data = data.sort_values('Date').reset_index(drop=True)


if isinstance(data.columns, pd.MultiIndex):
    data.columns = data.columns.get_level_values(0)
    
data.head().T

C:\Users\auria\AppData\Local\Temp\ipykernel_27000\2962204372.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download('^GSPC', start='2010-01-01', end='2025-01-01')
[*********************100%***********************]  1 of 1 completed

,0,1,2,3,4
Price,,,,,
Date,2010-01-04 00:00:00,2010-01-05 00:00:00,2010-01-06 00:00:00,2010-01-07 00:00:00,2010-01-08 00:00:00
Close,1132.98999,1136.52002,1137.140015,1141.689941,1144.97998
High,1133.869995,1136.630005,1139.189941,1142.459961,1145.390015
Low,1116.560059,1129.660034,1133.949951,1131.319946,1136.219971
Open,1116.560059,1132.660034,1135.709961,1136.27002,1140.52002
Volume,3991400000,2491020000,4972660000,5270680000,4389590000

##### Previous feature engineering

In [20]:
data['Pct_Change'] = data['Close'].pct_change()
data['MA_3'] = data['Close'].rolling(window=3).mean()
data['MA_5'] = data['Close'].rolling(window=5).mean()
data['MA_10'] = data['Close'].rolling(window=10).mean()
data['Volatility'] = data['Close'].rolling(window=10).std()
data['Direction'] = np.where(data['Close'].shift(-1) > data['Close'], 'Up', 'Down')

## Section A

In [32]:
# checking for missing values

cnt_missing = data.isna().sum()

missing_perc = (cnt_missing / len(data)) * 100

#quick table of missing data

tbl_4_missing = pd.DataFrame({
    'Count of Missing': cnt_missing,
    'Percent Missing':missing_perc.round()
}).sort_values('Count of Missing')

tbl_4_missing

            Count of Missing  Percent Missing
Price
Date                       0              0.0
Close                      0              0.0
High                       0              0.0
Low                        0              0.0
Open                       0              0.0
Volume                     0              0.0
Direction                  0              0.0
Pct_Change                 1              0.0
MA_3                       2              0.0
MA_5                       4              0.0
MA_10                      9              0.0
Volatility                 9              0.0

The table was created as an audit for missing values and shows that all NaNs exclusively occur in features created for rolling window or percent change calculations. These missing values are expected in financial time-series data when pre-processing and will be removed after the creation of all engineered features.

In [41]:
row_miss_vals = data[data.isna().any(axis=1)]

row_miss_vals.head(10)

Price,Date,Close,High,Low,Open,Volume,Pct_Change,MA_3,MA_5,MA_10,Volatility,Direction
0,2010-01-04,1132.989990,1133.869995,1116.560059,1116.560059,3991400000,NaN,NaN,NaN,NaN,NaN,Up
1,2010-01-05,1136.520020,1136.630005,1129.660034,1132.660034,2491020000,0.003116,NaN,NaN,NaN,NaN,Up
2,2010-01-06,1137.140015,1139.189941,1133.949951,1135.709961,4972660000,0.000546,1135.550008,NaN,NaN,NaN,Up
3,2010-01-07,1141.689941,1142.459961,1131.319946,1136.270020,5270680000,0.004001,1138.449992,NaN,NaN,NaN,Up
4,2010-01-08,1144.979980,1145.390015,1136.219971,1140.520020,4389590000,0.002882,1141.269979,1138.663989,NaN,NaN,Up
5,2010-01-11,1146.979980,1149.739990,1142.020020,1145.959961,4255780000,0.001747,1144.549967,1141.461987,NaN,NaN,Down
6,2010-01-12,1136.219971,1143.810059,1131.770020,1143.810059,4716160000,-0.009381,1142.726644,1141.401978,NaN,NaN,Up
7,2010-01-13,1145.680054,1148.400024,1133.180054,1137.310059,4170360000,0.008326,1142.960002,1143.109985,NaN,NaN,Up
8,2010-01-14,1148.459961,1150.410034,1143.800049,1145.680054,3915200000,0.002426,1143.453328,1144.463989,NaN,NaN,Down

Justification for missing values:

- Pct_Change() creates a Nan since there is no previous day price
- Rolling Windows (3,5,10 day) - these require prior observations which causes NaN's at the beginning of the data set
- Volatility: shows several initial NaNs because a 10 day rolling standard deviation can't compute until 10 days of returns are available.

In [65]:
split = int(len(data)*0.8)

train_set = data.iloc[:split].copy()

test_set = data.iloc[split:].copy()


print(train_set['Date'].min())
print(train_set['Date'].max())


print(test_set['Date'].min())
print(test_set['Date'].max())

print("Training Rows:", len(train_set))
print("Testing Rows:", len(test_set))

2010-01-04 00:00:00
2021-12-29 00:00:00
2021-12-30 00:00:00
2024-12-31 00:00:00
Training Rows: 3019
Testing Rows: 755

The training set goes from 1/4/2010 to 12/29/2021 with 3019 rows (80 split).

The test set goes from 12/30/2021 to 12/31/2024 with 755 rows (20 split).

The date is checked to confirm the data is in chronological order with the training and test sets. The Training set starts earlier and ends earlier and the test set begins immediately after the training set ends. This confirms there are no jumps or overlap. This confirms the model will only be tested on future data, that hasn't yet been seen, which prevents data leakage.

## Section B

In [87]:
#calculating daily return

data['return_1d'] = data['Close'].pct_change()

#creation of different lags for short term patterns

lags = [1,2,3,5,7]

#we need to apply these lags now so we get these features

for lag in lags:
    col_name = f'return_lag_{lag}d'

    data[col_name] = data['return_1d'].shift(lag)

print(data.head(10))

Price       Date        Close         High          Low         Open  \
0     2010-01-04  1132.989990  1133.869995  1116.560059  1116.560059
1     2010-01-05  1136.520020  1136.630005  1129.660034  1132.660034
2     2010-01-06  1137.140015  1139.189941  1133.949951  1135.709961
3     2010-01-07  1141.689941  1142.459961  1131.319946  1136.270020
4     2010-01-08  1144.979980  1145.390015  1136.219971  1140.520020
5     2010-01-11  1146.979980  1149.739990  1142.020020  1145.959961
6     2010-01-12  1136.219971  1143.810059  1131.770020  1143.810059
7     2010-01-13  1145.680054  1148.400024  1133.180054  1137.310059
8     2010-01-14  1148.459961  1150.410034  1143.800049  1145.680054
9     2010-01-15  1136.030029  1147.770020  1131.390015  1147.719971

Price      Volume  Pct_Change         MA_3         MA_5        MA_10  \
0      3991400000         NaN          NaN          NaN          NaN
1      2491020000    0.003116          NaN          NaN          NaN
2      4972660000    0.000546  1135.550008          NaN          NaN
3      5270680000    0.004001  1138.449992          NaN          NaN
4      4389590000    0.002882  1141.269979  1138.663989          NaN
5      4255780000    0.001747  1144.549967  1141.461987          NaN
6      4716160000   -0.009381  1142.726644  1141.401978          NaN
7      4170360000    0.008326  1142.960002  1143.109985          NaN
8      3915200000    0.002426  1143.453328  1144.463989          NaN
9      4758730000   -0.010823  1143.390015  1142.673999  1140.668994

Price  Volatility Direction  return_1d  return_lag_1d  return_lag_2d  \
0             NaN        Up        NaN            NaN            NaN
1             NaN        Up   0.003116            NaN            NaN
2             NaN        Up   0.000546       0.003116            NaN
3             NaN        Up   0.004001       0.000546       0.003116
4             NaN        Up   0.002882       0.004001       0.000546
5             NaN      Down   0.001747       0.002882       0.004001
6             NaN        Up  -0.009381       0.001747       0.002882
7             NaN        Up   0.008326      -0.009381       0.001747
8             NaN      Down   0.002426       0.008326      -0.009381
9        5.529858        Up  -0.010823       0.002426       0.008326

Price  return_lag_3d  return_lag_5d  return_lag_7d
0                NaN            NaN            NaN
1                NaN            NaN            NaN
2                NaN            NaN            NaN
3                NaN            NaN            NaN
4           0.003116            NaN            NaN
5           0.000546            NaN            NaN
6           0.004001       0.003116            NaN
7           0.002882       0.000546            NaN
8           0.001747       0.004001       0.003116
9          -0.009381       0.002882       0.000546

The percent change in closing price is used to observe day to day market changes. For this, lags were engineered at 1,2,3,5, and 7 days to capture short term patterns and market reversals. The lag period was selected because in financial analysis these are the commonly used to capture immediate price movements, and then multi-day, and then weekly flutuation.

In [90]:
#calculatiion of rolling volatility

#we will do this based on the standard deviation of the 10 day daily returns

data['rolling_vol_10d'] = data['return_1d'].rolling(window = 10).std()

#could compute extra not sure if we need it yet...

data[['Date', 'return_1d', 'rolling_vol_10d']].head(20)

Price       Date  return_1d  rolling_vol_10d
0     2010-01-04        NaN              NaN
1     2010-01-05   0.003116              NaN
2     2010-01-06   0.000546              NaN
3     2010-01-07   0.004001              NaN
4     2010-01-08   0.002882              NaN
5     2010-01-11   0.001747              NaN
6     2010-01-12  -0.009381              NaN
7     2010-01-13   0.008326              NaN
8     2010-01-14   0.002426              NaN
9     2010-01-15  -0.010823              NaN
10    2010-01-19   0.012500         0.007075
11    2010-01-20  -0.010598         0.008002
12    2010-01-21  -0.018945         0.010018
13    2010-01-22  -0.022141         0.011622
14    2010-01-25   0.004598         0.011754
15    2010-01-26  -0.004203         0.011567
16    2010-01-27   0.004880         0.011819
17    2010-01-28  -0.011818         0.011304
18    2010-01-29  -0.009829         0.011021
19    2010-02-01   0.014266         0.012691

The 10 day rolling volatility was calculated using the standard deviation of the past 10 day daily returns. This window captures short term market risks.  Using 10 days helps give a more gradual change instead of showing isolated fluctuations or noise. The first 9 rows are expected to have missing values because a full 10 days is needed to be able to do the calculation.

In [91]:
#this is a 10day moving average of daily returns, might be helpful for PCA and supervised model

data['ma_return_10d'] = data['return_1d'].rolling(window=10).mean()

data[['Date', 'Close', 'return_1d', 'ma_return_10d']].head(15)

Price       Date        Close  return_1d  ma_return_10d
0     2010-01-04  1132.989990        NaN            NaN
1     2010-01-05  1136.520020   0.003116            NaN
2     2010-01-06  1137.140015   0.000546            NaN
3     2010-01-07  1141.689941   0.004001            NaN
4     2010-01-08  1144.979980   0.002882            NaN
5     2010-01-11  1146.979980   0.001747            NaN
6     2010-01-12  1136.219971  -0.009381            NaN
7     2010-01-13  1145.680054   0.008326            NaN
8     2010-01-14  1148.459961   0.002426            NaN
9     2010-01-15  1136.030029  -0.010823            NaN
10    2010-01-19  1150.229980   0.012500       0.001534
11    2010-01-20  1138.040039  -0.010598       0.000163
12    2010-01-21  1116.479980  -0.018945      -0.001787
13    2010-01-22  1091.760010  -0.022141      -0.004401
14    2010-01-25  1096.780029   0.004598      -0.004229

The 10 day moving average of daily returns will tell us if the market has trendede up or down over the past 10 days. This will help remove noise and help capture actual patterns and identify short term trend behaviors.

In [92]:
# creation of a sharpe-like Ratio

data['sharpe_like_10d'] = data['return_1d'] / data['rolling_vol_10d']

# double checking the ratio
data[['Date', 'return_1d', 'rolling_vol_10d', 'sharpe_like_10d']].head(15)

Price       Date  return_1d  rolling_vol_10d  sharpe_like_10d
0     2010-01-04        NaN              NaN              NaN
1     2010-01-05   0.003116              NaN              NaN
2     2010-01-06   0.000546              NaN              NaN
3     2010-01-07   0.004001              NaN              NaN
4     2010-01-08   0.002882              NaN              NaN
5     2010-01-11   0.001747              NaN              NaN
6     2010-01-12  -0.009381              NaN              NaN
7     2010-01-13   0.008326              NaN              NaN
8     2010-01-14   0.002426              NaN              NaN
9     2010-01-15  -0.010823              NaN              NaN
10    2010-01-19   0.012500         0.007075         1.766853
11    2010-01-20  -0.010598         0.008002        -1.324374
12    2010-01-21  -0.018945         0.010018        -1.891061
13    2010-01-22  -0.022141         0.011622        -1.905020
14    2010-01-25   0.004598         0.011754         0.391199

The Sharpe-like ratio feature is engineered by dividing daily returns by the 10 day rolling volatility. It helps to show whether the current days return is strong or weak compared to recent market movement. High values mean low risk upward market movement while low values indicate high volatility with low returns.

In [95]:
clean_data = data.dropna()

print(len(data)) # data before dropping NA's
print(len(clean_data)) # data after dropping NA's

data[['Date', 'return_1d', 'rolling_vol_10d', 'sharpe_like_10d']].head(15)

3774
3764

Price       Date  return_1d  rolling_vol_10d  sharpe_like_10d
0     2010-01-04        NaN              NaN              NaN
1     2010-01-05   0.003116              NaN              NaN
2     2010-01-06   0.000546              NaN              NaN
3     2010-01-07   0.004001              NaN              NaN
4     2010-01-08   0.002882              NaN              NaN
5     2010-01-11   0.001747              NaN              NaN
6     2010-01-12  -0.009381              NaN              NaN
7     2010-01-13   0.008326              NaN              NaN
8     2010-01-14   0.002426              NaN              NaN
9     2010-01-15  -0.010823              NaN              NaN
10    2010-01-19   0.012500         0.007075         1.766853
11    2010-01-20  -0.010598         0.008002        -1.324374
12    2010-01-21  -0.018945         0.010018        -1.891061
13    2010-01-22  -0.022141         0.011622        -1.905020
14    2010-01-25   0.004598         0.011754         0.391199

The rows containing missing values are removed after creation of engineered features. These were expected to be NaN due to the nature and lagged features. Dropping them is important for the model to ensure we have complete data for it to use.

In [108]:
#converting the direction column to binary

clean_data = clean_data.copy()

clean_data['Direction'] = clean_data['Direction'].astype(str)

clean_data.loc[:, 'Direction'] = clean_data['Direction'].fillna('Down').map({'Up': 1, 'Down': 0})

### Feature Selection

In [115]:
correlation_matrix = clean_data.corr()

# print(correlation_matrix)

high_correlation = correlation_matrix[(correlation_matrix > 0.8) & (correlation_matrix != 1.0)]

print(high_correlation)

#removing features with low variance to help with better modeling and to make sure anything irrelevant isn't in the data

#STUCK HERE: VARIANCE CURRENTLY DOES NOT WORK
low_variance = [col for col in clean_data.columns if clean_data[col].std() < 0.01]
clean_data = clean_data.drop(columns = low_variance)

print(clean_data.head(15))

Price                Date     Close      High       Low      Open  Volume  \
Price
Date                  NaN  0.959425  0.959902  0.958917  0.959417     NaN
Close            0.959425       NaN  0.999889  0.999907  0.999799     NaN
High             0.959902  0.999889       NaN  0.999847  0.999923     NaN
Low              0.958917  0.999907  0.999847       NaN  0.999884     NaN
Open             0.959417  0.999799  0.999923  0.999884       NaN     NaN
Volume                NaN       NaN       NaN       NaN       NaN     NaN
Pct_Change            NaN       NaN       NaN       NaN       NaN     NaN
MA_3             0.959576  0.999838  0.999909  0.999848  0.999928     NaN
MA_5             0.959706  0.999656  0.999794  0.999652  0.999803     NaN
MA_10            0.960017  0.999233  0.999466  0.999156  0.999410     NaN
Volatility            NaN       NaN       NaN       NaN       NaN     NaN
Direction             NaN       NaN       NaN       NaN       NaN     NaN
return_1d             NaN       NaN       NaN       NaN       NaN     NaN
return_lag_1d         NaN       NaN       NaN       NaN       NaN     NaN
return_lag_2d         NaN       NaN       NaN       NaN       NaN     NaN
return_lag_3d         NaN       NaN       NaN       NaN       NaN     NaN
return_lag_5d         NaN       NaN       NaN       NaN       NaN     NaN
return_lag_7d         NaN       NaN       NaN       NaN       NaN     NaN
rolling_vol_10d       NaN       NaN       NaN       NaN       NaN     NaN
ma_return_10d         NaN       NaN       NaN       NaN       NaN     NaN
sharpe_like_10d       NaN       NaN       NaN       NaN       NaN     NaN

Price            Pct_Change      MA_3      MA_5     MA_10  ...  Direction  \
Price                                                      ...
Date                    NaN  0.959576  0.959706  0.960017  ...        NaN
Close                   NaN  0.999838  0.999656  0.999233  ...        NaN
High                    NaN  0.999909  0.999794  0.999466  ...        NaN
Low                     NaN  0.999848  0.999652  0.999156  ...        NaN
Open                    NaN  0.999928  0.999803  0.999410  ...        NaN
Volume                  NaN       NaN       NaN       NaN  ...        NaN
Pct_Change              NaN       NaN       NaN       NaN  ...        NaN
MA_3                    NaN       NaN  0.999918  0.999554  ...        NaN
MA_5                    NaN  0.999918       NaN  0.999773  ...        NaN
MA_10                   NaN  0.999554  0.999773       NaN  ...        NaN
Volatility              NaN       NaN       NaN       NaN  ...        NaN
Direction               NaN       NaN       NaN       NaN  ...        NaN
return_1d               NaN       NaN       NaN       NaN  ...        NaN
return_lag_1d           NaN       NaN       NaN       NaN  ...        NaN
return_lag_2d           NaN       NaN       NaN       NaN  ...        NaN
return_lag_3d           NaN       NaN       NaN       NaN  ...        NaN
return_lag_5d           NaN       NaN       NaN       NaN  ...        NaN
return_lag_7d           NaN       NaN       NaN       NaN  ...        NaN
rolling_vol_10d         NaN       NaN       NaN       NaN  ...        NaN
ma_return_10d           NaN       NaN       NaN       NaN  ...        NaN
sharpe_like_10d    0.825428       NaN       NaN       NaN  ...        NaN

Price            return_1d  return_lag_1d  return_lag_2d  return_lag_3d  \
Price
Date                   NaN            NaN            NaN            NaN
Close                  NaN            NaN            NaN            NaN
High                   NaN            NaN            NaN            NaN
Low                    NaN            NaN            NaN            NaN
Open                   NaN            NaN            NaN            NaN
Volume                 NaN            NaN            NaN            NaN
Pct_Change             NaN            NaN            NaN            NaN
MA_3                   NaN            NaN            NaN            NaN
MA_5                   NaN            NaN            NaN            NaN
MA_10                  NaN            NaN            NaN            NaN
Volatility             NaN            NaN            NaN            NaN
Direction              NaN            NaN            NaN            NaN
return_1d              NaN            NaN            NaN            NaN
return_lag_1d          NaN            NaN            NaN            NaN
return_lag_2d          NaN            NaN            NaN            NaN
return_lag_3d          NaN            NaN            NaN            NaN
return_lag_5d          NaN            NaN            NaN            NaN
return_lag_7d          NaN            NaN            NaN            NaN
rolling_vol_10d        NaN            NaN            NaN            NaN
ma_return_10d          NaN            NaN            NaN            NaN
sharpe_like_10d   0.825428            NaN            NaN            NaN

Price            return_lag_5d  return_lag_7d  rolling_vol_10d  ma_return_10d  \
Price
Date                       NaN            NaN              NaN            NaN
Close                      NaN            NaN              NaN            NaN
High                       NaN            NaN              NaN            NaN
Low                        NaN            NaN              NaN            NaN
Open                       NaN            NaN              NaN            NaN
Volume                     NaN            NaN              NaN            NaN
Pct_Change                 NaN            NaN              NaN            NaN
MA_3                       NaN            NaN              NaN            NaN
MA_5                       NaN            NaN              NaN            NaN
MA_10                      NaN            NaN              NaN            NaN
Volatility                 NaN            NaN              NaN            NaN
Direction                  NaN            NaN              NaN            NaN
return_1d                  NaN            NaN              NaN            NaN
return_lag_1d              NaN            NaN              NaN            NaN
return_lag_2d              NaN            NaN              NaN            NaN
return_lag_3d              NaN            NaN              NaN            NaN
return_lag_5d              NaN            NaN              NaN            NaN
return_lag_7d              NaN            NaN              NaN            NaN
rolling_vol_10d            NaN            NaN              NaN            NaN
ma_return_10d              NaN            NaN              NaN            NaN
sharpe_like_10d            NaN            NaN              NaN            NaN

Price            sharpe_like_10d
Price
Date                         NaN
Close                        NaN
High                         NaN
Low                          NaN
Open                         NaN
Volume                       NaN
Pct_Change              0.825428
MA_3                         NaN
MA_5                         NaN
MA_10                        NaN
Volatility                   NaN
Direction                    NaN
return_1d               0.825428
return_lag_1d                NaN
return_lag_2d                NaN
return_lag_3d                NaN
return_lag_5d                NaN
return_lag_7d                NaN
rolling_vol_10d              NaN
ma_return_10d                NaN
sharpe_like_10d              NaN

[21 rows x 21 columns]

TypeError: '<' not supported between instances of 'Timedelta' and 'float'

## Section C